
.body-container {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
}
.page-body {
    width: 100%;
     background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;

 }
.navbar-container {
    width: 100%;
    height: 58px;
    box-shadow:  0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.4);
}
.container {
    width: 444px;
    height: 584px;
    margin: 112px auto 74px auto;
    display: flex;
    background-color: white;

}
.navbar-icon {
    display: flex;

}
.navbar {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    list-style: none;
   padding-left: 0;
    margin-bottom: 0;
    margin-right: 79px;
}
.navbar-menu li  {
    display: inline-block;
}
.header-icon:hover svg path {
    fill:  #01813F
}
.navbar-logo {
     text-decoration: none;
     font-weight: 700;
     font-size: 22px;
     line-height: 22px;
     color: #FFFFFF;
    margin-left: 79px;
 }
.navbar-logo:hover {
   color:  #01813F
}
.menu-link-log:hover  {
    color:  #01813F
}
.menu-link-sign:hover  {
    color:  #01813F
}

.calendar {
    margin-right: 24px;
}
.email {
    margin-right: 24px;
}
.line {
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-right: 25px;
    margin-left: 25px;
}
.navbar-menu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.Sign-up-form {
    position: relative;
}
.shape {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
    top: 29px;
}
.page-Sign-Up {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.sign-form {
    display: flex;
    justify-content: space-around;
    margin-top: 31px;
    margin-bottom: 15px;


}
.sign-up {
    left: 43px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.Log-In {
    text-decoration: none;
    right: 59px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-left: 79px;
}
.choose-button {
    display: flex;
    justify-content: space-around;
}
.button-Facebook {
    width: 160px;
    height: 48px;
    margin-left: 60px;
    padding-right: 17px;
    background-color: #305DB8;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.button-Facebook:hover {
    background-color: #022263;
}
.icon-facebook {
    width: 12px;
    height: 24px;
    margin: 14px 38px 13px 10px;
}
.icon-google {
    width: 30px;
    height: 19px;
    margin: 11px 37px 11px 16px;
}
.button-Google {
    width: 160px;
    height: 48px;
    margin-right: 60px;
    padding-right: 17px;
    background-color:  #DF4A32;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.button-Google:hover {
    background-color: #AB1F09;
}
.options {
    text-align: center;
    margin-top: 31px;
    margin-bottom: 12px;
    position: relative;

}
.options span {
    position: relative;
}
.options span:before {
    display: block;
    position: absolute;
    content: "";
    border-bottom: 1px solid  #F2F2F2;
    width: 152px;
    height: 1px;
    top: 50%;
    right:20px;
}
.options span:after {
    display: block;
    position: absolute;
    content: "";
    border-bottom: 1px solid  #F2F2F2;
    width: 152px;
    height: 1px;
    top: 50%;
    left:20px;
}

input[type="text"], input[type="email"],  input[type="password"] {
    width: 322px;
    height: 44px;
    margin-bottom: 15px;
    margin-left: 61px;
}
input[type="checkbox"] {
    width: 14px;
    height: 13px;
    margin: 0 6px 12px 65px;
}
.name-checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.input_form:focus {
    background-color: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.accent-color {
    color: green;
}
.account-button {
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-left: 61px;
    margin-bottom: 38px;


}
.account-button:hover {
    background-color: #01813F;
}
.text-button {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

